# DVC cache and generated data
.dvc/cache/
data/
artifacts/
models/
metrics/

# Allow code packages (don’t ignore src/data)
!src/data/
!src/data/*.py

# Env & editor
__pycache__/
*.pyc
.vscode/
.idea/
.env
.env.*
mlruns/
.minio/
medical_cv_serve.egg-info/

# Allow metrics JSON
!metrics/val.json

tmp_artifacts/ 
tmp_artifacts/

# Word files
*.doc
*.docx
~$*.doc*  # (Optional: catches temporary hidden Word files that start with ~$)

# Repomix files
*repomix*.*